{% extends 'base.html' %}
{% block content %}
<script type="text/javascript" src="../static/js/typeahead.bundle.js"></script>
    
<style>

.typeahead {
	background-color: #FFFFFF;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
}
.tt-suggestion {
	font-size: 15px;  /* Set suggestion dropdown font size */
	padding: 3px 20px;
}
.tt-suggestion:hover {
	cursor: pointer;
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}
</style>
<!--메인 화면-->
<section id="page-top">
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">중간고사 성적으로 학기말 성적을 예측해보세요</div>
            <div class="intro-heading text-uppercase">아직모른다? 아모른직다!</div>
    
        <!--방명록-->
        <div class="container mt-3">
            <div id="myCarousel" class="carousel slide">
                <!-- The slideshow -->
                <div class="carousel-inner">
                {% for one in scores.all %}
                    {% if forloop.first %}
                        <div class="carousel-item active">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ one.nickname }}</h5>
                                    <p class="card-text">{{ one.expected_grade }}</p>
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div>
                            </div>    
                        </div>
                    {% else %}
                        <div class="carousel-item">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ one.nickname }}</h5>
                                    <p class="card-text">{{ one.expected_grade }}</p>
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div>
                            </div>
                        </div>
                    {%endif%}
                    {%endfor%}
                </div>
            
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#myCarousel">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#myCarousel">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>

    <br>
    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#calculation">내 성적 예측해보기</a>
    </div>
</header>
</section>

<!--정보 입력 부분-->
<section id="calculation">
<h3 class="col-lg-12" class="inputform">학기말 성적을 예측해보아요</h3>
<form action="{% url 'create' %}" class="needs-validation" novalidate>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationCustom01">닉네임</label>
            <input type="text" name="nickname" class="form-control" id="validationCustom01" placeholder="닉네임" required>
            <div class="invalid-feedback">사용자 이름을 입력해주세요</div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="validationCustom02">목표 학점</label>
            <select name="expected_grade" class="form-control custom-select" id="validationCustom02" required>
                <option value="">목표 학점을 선택하세요</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D/F</option>
            </select>
            <div class="invalid-feedback">목표 학점을 입력해주세요</div>
        </div>
    </div>
 
  
    <!-- 검색 기능 임시 추가 -->
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationCustom03">강의명 및 교수명</label><br>
            <input name="lecture" type="text" class="form-control typeahead tt-query" id="validationCustom03" autocomplete="off" spellcheck="false" placeholder="강의명/교수명을 입력하세요" required>
            <div class="invalid-feedback">강의명/교수명을 입력해주세요</div>
        </div>
 
        <div class="col-md-6 mb-3">
            <label for="validationCustom04">강의 분류</label>
            <select type="number" name="lecture_type" class="form-control custom-select" id="validationCustom02" required>
                <option value="">강의 타입을 선택하세요</option>
                <option value="전공핵심">전공핵심</option>
                <option value="전공일반">전공일반</option>
                <option value="기타교양">기타교양</option>
                <option value="국제어">국제어</option>
            </select>
            <div class="invalid-feedback">강의 타입을 선택해주세요</div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3 mb-3">
            <label for="validationCustom05">당신의 중간고사 점수</label>
            <input name="my_score" type="number" step="0.1" class="form-control" id="validationCustom05" placeholder="중간고사 점수" required>
            <div class="invalid-feedback">중간고사 점수를 입력해주세요</div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationCustom06">반 평균</label>
            <input name="class_average" type="number" step="0.1" class="form-control" id="validationCustom06" placeholder="반 평균" required>
            <div class="invalid-feedback">반 평균을 입력해주세요</div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationCustom07">반 표준편차</label>
            <input name="class_sd" type="number" step="0.1" class="form-control" id="validationCustom07" placeholder="반 표준편차" required>
            <div class="invalid-feedback">반 표준편차를 입력해주세요</div>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationCustom08">반 정원</label>
            <input name="class_total" type="number" class="form-control" id="validationCustom08" placeholder="반 정원" required>
            <div class="invalid-feedback">반 정원 수를 입력해주세요</div>
        </div>
    </div>
  
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationCustom09">중간고사 반영비율 (선택)</label>
            <input name="mid_ratio" type="number" step="0.1" class="form-control" id="validationCustom09" placeholder="학기말 비율 중 중간고사 반영비율을 입력하세요">
        </div>
        <div class="col-md-6 mb-3">
            <label for="validationCustom10">기말고사 반영비율 (선택)</label>
            <input name="final_ratio" type="number" step="0.1" class="form-control" id="validationCustom10" placeholder="학기말 비율 중 기말고사 반영비율을 입력하세요">
        </div>
    </div>
    <button class="btn btn-primary btn-xl" type="submit" href="{ %url 'nowgrade'% }">Go!</button>
</form>
</section>

<br>

<script>

// Form validation
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();

//방명록 카드 슬라이드
$(document).ready(function(){
  // Activate Carousel
  $("#myCarousel").carousel();
    
  // Enable Carousel Controls
  $(".carousel-control-prev").click(function(){
    $("#myCarousel").carousel("prev");
  });
  $(".carousel-control-next").click(function(){
    $("#myCarousel").carousel("next");
  });
});

//강의 검색
$(document).ready(function(){
    var lectures = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        // The url points to a json file that contains an array of country names
        prefetch: {
            url: './static/json/test.json', //테스트 파일 - json 파일 딕셔너리 불러오는 것으로 수정 필요
            /*getValue: "title",
            list: {
                match: {
                    enabled:true
                }
            }
            */
        }
    });
    
    // Initializing the typeahead with remote dataset
    $('.typeahead').typeahead(null, {
        name: 'lectures',
        source: lectures,
        limit: 10 /* Specify maximum number of suggestions to be displayed */
    });
}); 

</script>

{% endblock %}