{% extends 'base.html' %}
{% block content %}

<section id="page-top">
<header class="masthead">
    <div class="container">
        <div class="intro-text">
        <div>1차 결과 출력</div>
        
    <div style="text-align:center" ;>
        당신의 현재 학점은 "<span style="border: 1px solid black">{{first_grade}}</span>"로 예상됩니다.<br><br>
        <a href="happy.html">
            <button type="button" class="btn btn-outline-dark">
                행복회로 돌리러 가기
            </button>
        </a>
        <a href="home.html">
            <button type="button" class="btn btn-outline-dark">
                홈으로
                <br>
            </button>
        </a>
    </div>




    </div>
</header>
</section>




{% endblock %}