{% extends 'base.html' %}
{% block content %}
<style>
#yesinfo{
    display: block;
}
#noinfo{
    display: none;
}
</style>
<section id="page-top">
    <header class="masthead">
        <div class="container">
            <div class="intro-text"><br><br>
    <header class="masthead mb-auto">
      <br><br>
      <div class="inner" style="margin-bottom:2rem;">
        <h3 style="font-size:2rem;">당신의 현재 학점은?!</h3>
      </div>
    </header>
     <div style="text-align:center;">
        <h4>이 수업의 교수님은 <b>{{ profstyle }}</b>이군요!!!</h4>
        <h4>당신의 현재 학점은 "<b>{{ nowgrade }}</b>"로 예상됩니다.</h4>
        <h5 style="color:grey;margin-bottom:2rem;">{{comment}}</h5>
        {% if nowgrade == 'A' %}
            <div>행복회로를 안 돌리셔도 됩니다 ^^ 홈으로 가버려~</div>
        {% else %}
            <button type="button" class="btn btn-outline-dark" onclick="location.href='{% url 'happy'%}'">
                행복회로 돌리러 가기
            </button>
        {% endif %}
        <button type="button" class="btn btn-outline-dark" onclick="location.href='{% url 'home' %}'">
            홈으로
        </button>
        <br>
     </div>
    </div>
    </header>
</section>

{% endblock %}